body{
	background-image: url(liverpool.png);
	background-size: cover;
	background-repeat: no-repeat;
}
h1{
	text-align: center;
	font-family: Roboto;
}
ul{
	list-style-type: none;
	background-color: #00000 ;
	overflow: hidden;
}

ul li{
	float: left;
	text-align: center;

}
ul li a{
	display: block;
	width: 75px;
	padding: 14px 15px;
	text-decoration: none;
	color: #fff;

}
li a:hover{
	background-color: #fff;
	color: #283618;
}
